/*värit*/
.black-b{
    background-color:#0000;
}
.black-t{
    color:#0000;
}
.white-b{
    background-color:#000000;
}
.white-t{
    color:#000000;
}
.beige-b{
    background-color: rgb(255, 255, 255);
}
.beige-t{
    color: rgb(255, 255, 255);
}
.light-b{
    background-color: rgba(255, 255, 255,0.9);
}
.light-t{
    color: rgb(255, 255, 255);
}
.grey-b{
    background-color: rgba(255, 255, 255,0.9);
}
.grey-t{
    color: rgb(255, 255, 255);
}
.red-b{
    background-color: rgb(80, 189, 32);
}
.red-t{
    color: rgb(80, 189, 32);
}
/*------------------------------------------------*/
html{
    scroll-behavior: smooth;
}
.button{
    padding: 0 1rem 0 1rem;
    line-height: 3rem;
    display: block;
}
.button:hover{
    background-color:rgb(112, 220, 66);
}
body{
    margin: 0;
    padding: 0;
    font-family: "mako", sans-serif;
    background-image: url("../img/pizza-2068272_1920edit.png");
    background-attachment: fixed;
}
a{
    color: inherit;
    text-decoration: none;
}
#container{
    position: relative;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
header {
    width: 100%;
    margin: 2rem 0 0 0;
    position: sticky;
    top: 0;
}
h1{
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    margin: 0 0 0 0;
    font-family: "fredericka the great";
}
h2{
    text-align: center;
    margin: 0 0 0 0;
}
#navigation ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 1rem;
    margin: 0 0 0 0;
    width: 100%;
}
#navigation li:nth-child(2) {
    display: none;
}
#advsearch {
    display: none;
  }
nav{
    width: 100%;
    font-weight: 600;
}
#search ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
section{
    width: 18rem;
    padding: 1rem;
}
main{
    padding: 1rem;
    box-sizing: border-box;
}
article figure{
    float: left;
    margin: 0 1rem 0 0;
    text-align: center;
}
img{
    width: 100%;
    height: 100%;
}
footer{
    width: 100%;
}
.advsearch{
    display: block;
    height: 20px;
    opacity: 1;
    -webkit-transition: height 1s, opacity 1s; /* Safari */
    transition: height 1s, opacity 1s;
}
.hiddenFull{
    opacity: 0;
    height: 0px;
}
.visibleFull{
    height: 300px;
}

@media screen and (max-width: 650px) {
    
    #navigation ul{
        display: flex;
        flex-wrap: wrap;        
    }
    #navigation li {
        width: 100%;
        text-align: right;
        padding-right: 1rem;
    }
    #navigation li:first-child {
        display: flex;
        max-width: 45%;
    }
    #navigation li:nth-child(2) {
        display: flex;
        max-width:40%;
        flex-direction:row-reverse;
        padding-right: 1rem;
    }
    .hidden {
        display: none;
    }
}
