/*värit*/
.black-b{
    background-color:#0000;
}
.black-t{
    color:#0000;
}
.white-b{
    background-color:#000000;
}
.white-t{
    color:#000000;
}
.beige-b{
    background-color: rgb(255, 255, 255);
}
.beige-t{
    color: rgb(255, 255, 255);
}
.light-b{
    background-color: rgba(255, 255, 255,0.9);
}
.light-t{
    color: rgb(255, 255, 255);
}
.grey-b{
    background-color: rgba(255, 255, 255,0.9);
}
.grey-t{
    color: rgb(255, 255, 255);
}
.red-b{
    background-color: rgb(80, 189, 32);
}
.red-t{
    color: rgb(80, 189, 32);
}
/*------------------------------------------------*/
html{
    scroll-behavior: smooth;
}
.button{
    padding: 0 1rem 0 1rem;
    line-height: 3rem;
    display: block;
}
.button:hover{
    background-color:rgb(112, 220, 66);
}
body{
    margin: 0;
    padding: 0;
    font-family: "mako", sans-serif;
    background-image: url("../img/pizza-2068272_1920edit.png");
    background-attachment: fixed;
}
a{
    color: inherit;
    text-decoration: none;
}
#container{
    position: relative;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
header {
    width: 100%;
    margin: 2rem 0 0 0;
    position: sticky;
    top: 0;
}
h1{
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    margin: 0 0 0 0;
    font-family: "fredericka the great";
}
h2{
    text-align: center;
    margin: 0 0 0 0;
}
.logo {
    height: 3rem;
    width: auto;
}
#navigation ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0.5rem;
    margin: 0 0 0 0;
    width: 100%;
}
#navigation li:nth-child(3) {
    display: none;
}
#advsearch {
    display: none;
  }
nav{
    width: 100%;
    font-weight: 600;
}
#search ul{
    display: flex;
    flex-wrap: wrap; 
    list-style-type: none;
    padding: 0;
    margin: 0;
}
section{
    width: 18rem;
    padding: 1rem;
}
main{
    padding: 0 1rem 1rem 1rem;
    box-sizing: border-box;
}
article figure{
    float: left;
    margin: 0 1rem 0 0;
    text-align: center;
}
img{
    width: 100%;
    height: 100%;
}
footer{
    width: 100%;
}
.advsearch{
    display: block;
    height: 0px;
    opacity: 1;
    -webkit-transition: height 1s, opacity 1s; /* Safari */
    transition: height 1s, opacity 1s;
}
.advnav{
    display: block;
    height: 0px;
    opacity: 1;
    -webkit-transition: height 1s, opacity 0.5s; /* Safari */
    transition: height 1s, opacity 0.5s;
}
.openSearch{
    width: 100%;
    text-align: center;
}
.search{
    margin-left:auto;
    margin-right:0;
    width: 5rem;
    text-align: center;
}
.searchBar{
    align-self: flex-start;
    width: 50%;
    padding: 0.5rem 1rem;
}
.hiddenFull{
    opacity: 0;
    height: 0px;
}
.visibleFull{
    height: 300px;
}

@media screen and (max-width: 481px) {
    
    #navigation ul{
        display: flex;
        flex-wrap: wrap;        
    }
    #navigation li {
        width: 100%;
        text-align: left;
    }
    #navigation li:first-child {
        display: flex;
        max-width: 60%;
    }
    #navigation li:nth-child(2) {
        display: flex;
        max-width: 15%;
        flex-direction:row-reverse;
        padding-left: 1rem;
        height: 3rem;
    }
    #navigation li:nth-child(3) {
        display: flex;
        max-width:15%;
        flex-direction:row-reverse;
        padding-right: 1rem;
    }
    .hidden {
        opacity: 0;
        height: 0px;
        pointer-events: none;
    }
    .hidden a{
        pointer-events: inherit;
    }
    .visible{
        height: 50px;
    }
    .clickable{
        display: none;
    }
    .searchBar {
        align-self: flex-start;
        width: 65%;
        padding: 0.5rem 1rem;

    }
}

/* Bordered form */
form#loginform {
    border: 1rem solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.logbutton {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem;
    margin: 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.loginbutton {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0.3rem 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.signup {
    background-color: #4CAF50;
    color: white;
    padding: 0.4rem 0.8rem;
    margin: 0.3rem 0;
    border: none;
    cursor: pointer;
    width: 15%;
    flex: left;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
     width: auto;
     padding: 0.4rem 0.8rem;
     background-color: #f44336;
     color: white;
     margin: 0.3rem 0;
     border: none;
     cursor: pointer;
 }

 .closebtn {
    width: auto;
    padding: 0.3rem 0.8rem;
    background-color: #f44336;
    color: white;
    margin: 0.3rem 0;
    border: none;
    cursor: pointer;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 1.3rem 0 0.1rem 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.lcontainer {
    padding: 0.6rem;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 3rem;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 0.2rem auto; /* 15% from the top and centered */
    border: 0.01rem solid #888;
    width: 33%; /* Could be more or less, depending on screen size */
    position: relative;
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 0.5rem;
    top: 0;
    color: #000;
    font-size: 1.4rem;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for extra small screens */
@media screen and (max-width: 481px) {

    input[type=text], input[type=password] {
        width: 100%;
        padding: 0.3rem 0.8rem;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
    .closebtn {
        width: 100%;
    }

    .logbutton {
        background-color: #4CAF50;
        color: white;
        padding: 0;
        margin: 0;
        border: none;
        cursor: pointer;
        width: 100%;
        font-size: 2rem;
    }

    .lcontainer {
        padding: 15px;
    }

    .signup {
        background-color: #4CAF50;
        color: white;
        padding: 0.3rem 0.8rem;
        margin: 0.2rem 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        right: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        padding-top: 60px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 0.6rem auto; /* 15% from the top and centered */
        border: 0.01rem solid #888;
        width: 90%; /* Could be more or less, depending on screen size */
        position: relative;

    }
}


